<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Bilety</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:replace="header"></div>
<ul th:each="ticket: ${tickets}">
    <li th:text="${ticket.showing.movie.title} + ' godz. ' + ${ticket.showing.playingDate} + ' -  kupiony przez ' + ${ticket.firstName} + ' ' + ${ticket.lastName} + ' vip: ' + ${ticket.vip}"/>
</ul>
</body>
</html>