<html xmlns:th="http://www.thymeleaf.org">
<body>

<div style="text-align: center">
    <h1>KINO STUDENCKIE</h1>
    <hr/>
    <h2 th:text="'Bilet ' + ${type}"/>
    <h3 th:text="${title}"/>
    <h4 th:text="'Sala ' + ${room} + ' - ' + ${date}"/>
    <img src="https://i.imgur.com/68R9n1W.png" width="300"/>
    <hr/>
    <h4 th:text="'Wygenerowany dla: ' + ${name}"/>
    <h5 th:text="'Cena: ' + ${price} + ' PLN'"/>
</div>
</body>
</html>