<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Dodaj repertuar</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:replace="header"></div>
<form action="#" th:action="@{/admin/showings/add}" th:object="${showing}" method="post">
    <div>
        <label>
            Sala <br>
            <select th:field="*{room}">
                <th:block th:each="room: ${rooms}">
                    <option th:text="${room.id}" th:value="${room.id}"/>
                </th:block>
            </select>
        </label>
    </div>

    <div>
        <label>
            Film <br>
            <select th:field="*{movie}">
                <th:block th:each="movie: ${movies}">
                    <option th:text="${movie.title}" th:value="${movie.id}"/>
                </th:block>
            </select>
        </label>
    </div>

    <div>
        <label>
            Data odtwarzania <br>
            <input type="text" th:field="*{playingDate}"/>
        </label>
    </div>

    <div>
        <input type="submit" value="zapisz">
    </div>
</form>
</body>
</html>