<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Błąd</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:replace="header"></div>
<p>Nie można usunąć repertuaru na który istnieją bilety.</p>
<a th:href="@{/admin/showings/list}">Powrót</a>
</body>
</html>