<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Repertuar</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="header"></div>
<ul th:each="showing: ${showings}">
    <li>
        <a th:text="${showing.movie.title} + ', sala ' + ${showing.room.id} + ', godz. ' + ${showing.playingDate}" th:href="@{/admin/showings/edit(id=${showing.id})}"/> <a th:href="@{/admin/showings/delete(id=${showing.id})}">Usuń</a>
    </li>
</ul>
<a th:href="@{/admin/showings/add}">Dodaj nowy</a>
</body>
</html>