<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Filmy</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="header"></div>
<ul th:each="movie: ${movies}">
    <li>
        <a th:text="${movie.title}" th:href="@{/admin/movies/edit(id=${movie.id})}"/> <a th:href="@{/admin/movies/delete(id=${movie.id})}">Usuń</a>
    </li>
</ul>
<a th:href="@{/admin/movies/add}">Dodaj nowy</a>
</body>
</html>